<!--
  Generated template for the Wallets page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Datos guardados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content>
	  <div *ngIf="!mostrarMedicion">
      <ion-list>
  			<ion-list-header>Registros almacenados</ion-list-header>
        <ion-item *ngFor="let medicion of mediciones">
          <ion-avatar item-left>
            <img src="assets/img/wallet.png" alt="">
          </ion-avatar>
          <h2>Fecha: {{medicion.date| date: 'dd/MM/yyyy'}}</h2>
          <h3>Lat: {{medicion.lat}}</h3>
          <h3>Resistencia del suelo: {{medicion.rSuelo}}</h3>
          <h3>RVarilla: {{medicion.rVarilla}}</h3>
          <h3>RGrupo: {{medicion.rGrupo}}</h3>
          <p>
            <button ion-button clear (tap)="mostrarRegistro(medicion)">Ver completo</button>
            <button ion-button color="danger"(tap)="eliminarRegistro(medicion)">Eliminar</button>
          </p>
        </ion-item >
        <button ion-button clear (tap)="set(medicion)">Generar reporte</button>
  		 </ion-list>
	  </div>
    <div *ngIf="mostrarMedicion">

      <ion-card>
        <img src="assets/img/result.png">
        <ion-fab left top>
          <button ion-fab (tap)="mostrarLista()">
            <ion-icon name="md-arrow-back"></ion-icon>
          </button>
        </ion-fab>
        <ion-item *ngIf="medicionGuardada">
          <h1>Datos generales</h1>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-calculator" item-left large ></ion-icon>
          <h2>Resistividad del suelo</h2>
          <p>{{medicionGuardada.rSuelo}}</p>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-list" item-left large></ion-icon>
          <h2>Resistencia máxima:</h2>
          <p>{{medicionGuardada.rmax}}</p>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-calculator" item-left large ></ion-icon>
          <h2>RVarilla</h2>
          <p>{{medicionGuardada.rVarilla}}</p>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-calculator" item-left large ></ion-icon>
          <h2>RGrupo</h2>
          <p>{{medicionGuardada.rGrupo}}</p>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-locate" item-left large ></ion-icon>
          <h2>Latitud</h2>
          <p>{{medicionGuardada.lat}}</p>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-locate" item-left large ></ion-icon>
          <h2>Longitud</h2>
          <p>{{medicionGuardada.lng}}</p>
        </ion-item>
        <div class="" *ngFor="let perfil of perfiles let i=index">
          <ion-item *ngIf="medicionGuardada">
            <h1>Perfil {{i+1}}</h1>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Orientación</h2>
            <p>{{perfil.orientacion}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Medición 1</h2>
            <p>{{perfil.med1}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad 1</h2>
            <p>{{perfil.res1}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Medición 2</h2>
            <p>{{perfil.med2}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad 2</h2>
            <p>{{perfil.res2}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Medición 3</h2>
            <p>{{perfil.med3}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad 3</h2>
            <p>{{perfil.res3}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Medición 4</h2>
            <p>{{perfil.med4}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad 4</h2>
            <p>{{perfil.res4}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Medición 5</h2>
            <p>{{perfil.med5}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad 5</h2>
            <p>{{perfil.res5}}</p>
          </ion-item>
          <ion-item *ngIf="medicionGuardada">
            <ion-icon name="md-list" item-left large ></ion-icon>
            <h2>Resistividad promedio</h2>
            <p>{{perfil.promedio}}</p>
          </ion-item>
        </div>
        <ion-item *ngIf="medicionGuardada">
          <ion-icon name="md-calculator" item-left large ></ion-icon>
          <h2>Resistividad del suelo</h2>
          <p>{{medicionGuardada.rSuelo}}</p>
        </ion-item>

      </ion-card>
      <!-- <ion-list>
        <ion-item *ngIf="medicionGuardada">
          <ion-label floating>Resistencia máxima de:</ion-label>
          <ion-input type="text" disabled [(ngModel)]="medicionGuardada.rmax"></ion-input>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-label floating>rVarilla</ion-label>
          <ion-input type="text" disabled [(ngModel)]="medicionGuardada.rVarilla"></ion-input>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-label floating>rGrupo</ion-label>
          <ion-input type="text" disabled [(ngModel)]="medicionGuardada.rGrupo"></ion-input>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-label floating>Lat</ion-label>
          <ion-input type="text" disabled [(ngModel)]="medicionGuardada.lat"></ion-input>
        </ion-item>
        <ion-item *ngIf="medicionGuardada">
          <ion-label floating>Lng</ion-label>
          <ion-input type="text" disabled [(ngModel)]="medicionGuardada.lng"></ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Medición 1</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.med1">{{perfil.med1}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Medición 2</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.med2">{{perfil.med2}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Medición 3</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.med3">{{perfil.med3}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Medición 4</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.med4">{{perfil.med4}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Medición 5</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.med5">{{perfil.med5}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resultado 1</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.res1">{{perfil.res1}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resultado 2</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.res2">{{perfil.res2}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resultado 3</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.res3">{{perfil.res3}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resultado 4</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.res4">{{perfil.res4}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resultado 5</ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.res5">{{perfil.res5}}</ion-input>
        </ion-item>
        <ion-item *ngIf="perfil">
          <ion-label floating>Resistividad del suelo </ion-label>
          <ion-input type="text" disabled [(ngModel)]="perfil.promedio">{{perfil.promedio}}</ion-input>
        </ion-item>
      </ion-list> -->
    </div>
	</ion-content>
</ion-content>
